* {
    font-family: Helvetica, "Times New Roman", sans-serif;
    background-color: rgb(251, 212, 248);
}
ul li {
    list-style-type: square;
}

h1, h2{ 
    color: deeppink;
}

.container {
    padding: 12px;
}